.nav {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item {
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.item a {
    color: mediumblue;
    text-decoration: none;
    transition: color .3s;
    display: block;
    padding: 10px 0;
    outline: none;
}

.item a:hover {
    color: red;
}

.item a.active {
    color: brown;
}