.navWrapper {
    flex-grow: 2;
}

.navWrapper nav {
    display: flex;
    justify-content: space-around;
}

.navItem a {
    text-decoration: none;
    color: white;
}

.navAuthItem {
    padding-left: 1em;
    border-left: 1px solid white;
}

.navAuthItem a {
    display: inline-block;
    margin-left: 2em;
}


.authBlock {
    display: flex;
    justify-content: space-between;
}

.authBlock a {
}