.header {
    margin-top: 1.5em;
}

.header header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon img {
    width: 55%;
}

.headerWorkspace {
}